<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list footer-content">
        <li><a href="http://paypal.me/nativeleap"><strong><mark>MAKE A DONATION!</mark></strong></a></li>
        <li>OR</li>
        <li><strong>PAY A FIXED AMOUNT:</strong></li>
        <li>  <a href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=11414564&amp;item_name=Donation&amp;item_description=Donate+to+the+Native+Leap+music.&amp;amount=500.00&amp;return_url=http%3A%2F%2Fnativeleap.world%2F&amp;cancel_url=http%3A%2F%2Fnativeleap.world%2F"><img src="https://www.payfast.co.za/images/buttons/dark-small-paynow.png" width="100" height="20" alt="Pay" title="Pay Now with PayFast" /></a></li>


        </ul>
      </div>

      <div class="footer-col footer-col-2 footer-content">
        <ul class="social-media-list">
          {% if site.github_username %}

          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3 site-description">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
